automation/leads-agent/n8n-workflow.json
{
  "name": "Distill Leads Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8am IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Reddit Subreddit Scraper — fetch new posts from 9 subs, filter last 24h + keywords\nconst subreddits = [\n  'PKMS', 'productivity', 'books', 'Journaling', 'commonplacebook',\n  'IWantToLearn', 'getdisciplined', '52book', 'ReadingSuggestions'\n];\n\nconst keywords = [\n  'forget what i read', 'book reflection', 'readwise alternative',\n  'remember what you read', 'knowledge management', 'note taking graveyard',\n  'retain information', 'reflection tool', 'reading notes', 'second brain',\n  'thinking tool', 'remember books', 'forget everything', 'highlight rot',\n  'notes i never revisit'\n];\n\nconst cutoff = Date.now() / 1000 - 86400; // 24 hours ago\nconst results = [];\n\nfor (const sub of subreddits) {\n  try {\n    const response = await fetch(\n      `https://www.reddit.com/r/${sub}/new.json?limit=50`,\n      {\n        headers: {\n          'User-Agent': 'DistillLeadsAgent/1.0 (lead-monitoring-bot)'\n        }\n      }\n    );\n\n    if (!response.ok) continue;\n    const data = await response.json();\n    const posts = data?.data?.children || [];\n\n    for (const post of posts) {\n      const p = post.data;\n      if (p.created_utc < cutoff) continue;\n\n      const text = `${p.title} ${p.selftext}`.toLowerCase();\n      const matched = keywords.filter(k => text.includes(k));\n      if (matched.length === 0) continue;\n\n      results.push({\n        json: {\n          source: 'reddit',\n          subreddit: `r/${sub}`,\n          title: p.title,\n          url: `https://reddit.com${p.permalink}`,\n          score: p.score || 0,\n          numComments: p.num_comments || 0,\n          createdUtc: p.created_utc,\n          snippet: (p.selftext || '').slice(0, 300),\n          matchedKeywords: matched\n        }\n      });\n    }\n  } catch (e) {\n    // Skip failed subreddits silently\n  }\n\n  // 1-second delay between subs\n  await new Promise(r => setTimeout(r, 1000));\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, source: 'reddit-subs' } }];\n}\nreturn results;"
      },
      "id": "reddit-subs",
      "name": "Reddit Subreddit Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 100]
    },
    {
      "parameters": {
        "jsCode": "// Reddit Search Scraper — search Reddit for high-intent queries\nconst queries = [\n  'forget everything I read',\n  'readwise alternative',\n  'how to remember books',\n  'reflection app for reading',\n  'second brain simple'\n];\n\nconst results = [];\n\nfor (const query of queries) {\n  try {\n    const encoded = encodeURIComponent(query);\n    const response = await fetch(\n      `https://www.reddit.com/search.json?q=${encoded}&sort=new&t=day&limit=25`,\n      {\n        headers: {\n          'User-Agent': 'DistillLeadsAgent/1.0 (lead-monitoring-bot)'\n        }\n      }\n    );\n\n    if (!response.ok) continue;\n    const data = await response.json();\n    const posts = data?.data?.children || [];\n\n    for (const post of posts) {\n      const p = post.data;\n      results.push({\n        json: {\n          source: 'reddit',\n          subreddit: `r/${p.subreddit}`,\n          title: p.title,\n          url: `https://reddit.com${p.permalink}`,\n          score: p.score || 0,\n          numComments: p.num_comments || 0,\n          createdUtc: p.created_utc,\n          snippet: (p.selftext || '').slice(0, 300),\n          matchedKeywords: [query]\n        }\n      });\n    }\n  } catch (e) {\n    // Skip failed queries\n  }\n\n  await new Promise(r => setTimeout(r, 1500));\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, source: 'reddit-search' } }];\n}\nreturn results;"
      },
      "id": "reddit-search",
      "name": "Reddit Search Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "// HN Algolia Search — free API, no auth required\nconst queries = [\n  'reading reflection tool',\n  'readwise alternative',\n  'remember what you read',\n  'personal knowledge management reading',\n  'book notes app',\n  'forget what I read',\n  'second brain for readers'\n];\n\nconst cutoff = Math.floor(Date.now() / 1000) - 86400;\nconst results = [];\n\nfor (const query of queries) {\n  try {\n    const encoded = encodeURIComponent(query);\n    const response = await fetch(\n      `https://hn.algolia.com/api/v1/search_by_date?query=${encoded}&tags=(story,comment)&numericFilters=created_at_i>${cutoff}`\n    );\n\n    if (!response.ok) continue;\n    const data = await response.json();\n    const hits = data?.hits || [];\n\n    for (const hit of hits) {\n      const isStory = !!hit.title;\n      results.push({\n        json: {\n          source: 'hackernews',\n          subreddit: isStory ? 'HN Story' : 'HN Comment',\n          title: hit.title || `Comment on: ${hit.story_title || 'HN thread'}`,\n          url: isStory\n            ? `https://news.ycombinator.com/item?id=${hit.objectID}`\n            : `https://news.ycombinator.com/item?id=${hit.story_id}#${hit.objectID}`,\n          score: hit.points || 0,\n          numComments: hit.num_comments || 0,\n          createdUtc: Math.floor(new Date(hit.created_at).getTime() / 1000),\n          snippet: (hit.comment_text || hit.title || '').replace(/<[^>]*>/g, '').slice(0, 300),\n          matchedKeywords: [query]\n        }\n      });\n    }\n  } catch (e) {\n    // Skip failed queries\n  }\n\n  await new Promise(r => setTimeout(r, 500));\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, source: 'hackernews' } }];\n}\nreturn results;"
      },
      "id": "hn-search",
      "name": "HN Algolia Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 500]
    },
    {
      "parameters": {
        "jsCode": "// Twitter/Nitter Search — tries multiple Nitter RSS instances with fallback\nconst nitterInstances = [\n  'nitter.privacydev.net',\n  'nitter.poast.org',\n  'nitter.woodland.cafe'\n];\n\nconst queries = [\n  'forget everything I read',\n  'readwise alternative',\n  'how to remember books',\n  'second brain but simpler',\n  'note taking graveyard'\n];\n\nconst results = [];\n\nfor (const query of queries) {\n  let found = false;\n  for (const instance of nitterInstances) {\n    if (found) break;\n    try {\n      const encoded = encodeURIComponent(query);\n      const controller = new AbortController();\n      const timeout = setTimeout(() => controller.abort(), 5000);\n\n      const response = await fetch(\n        `https://${instance}/search/rss?f=tweets&q=${encoded}`,\n        { signal: controller.signal }\n      );\n      clearTimeout(timeout);\n\n      if (!response.ok) continue;\n      const text = await response.text();\n\n      // Parse RSS XML manually\n      const items = text.split('<item>').slice(1);\n      const cutoff = Date.now() - 86400000; // 24h in ms\n\n      for (const item of items) {\n        const titleMatch = item.match(/<title><!\\[CDATA\\[(.+?)\\]\\]><\\/title>/);\n        const linkMatch = item.match(/<link>(.+?)<\\/link>/);\n        const dateMatch = item.match(/<pubDate>(.+?)<\\/pubDate>/);\n        const descMatch = item.match(/<description><!\\[CDATA\\[(.+?)\\]\\]><\\/description>/);\n\n        if (!linkMatch) continue;\n\n        const pubDate = dateMatch ? new Date(dateMatch[1]).getTime() : 0;\n        if (pubDate && pubDate < cutoff) continue;\n\n        // Convert nitter link back to twitter\n        const twitterUrl = linkMatch[1]\n          .replace(instance, 'twitter.com')\n          .replace(/^http:/, 'https:');\n\n        results.push({\n          json: {\n            source: 'twitter',\n            subreddit: 'Twitter',\n            title: titleMatch ? titleMatch[1].replace(/<[^>]*>/g, '').slice(0, 200) : query,\n            url: twitterUrl,\n            score: 0,\n            numComments: 0,\n            createdUtc: pubDate ? Math.floor(pubDate / 1000) : Math.floor(Date.now() / 1000),\n            snippet: descMatch ? descMatch[1].replace(/<[^>]*>/g, '').slice(0, 300) : '',\n            matchedKeywords: [query]\n          }\n        });\n      }\n      found = true;\n    } catch (e) {\n      // Try next instance\n      continue;\n    }\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, source: 'twitter' } }];\n}\nreturn results;"
      },
      "id": "twitter-search",
      "name": "Twitter/Nitter Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 700]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "id": "merge",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "remove-empties",
      "name": "Remove Empties",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate by URL, score each lead 1-10, sort descending, cap at 25\nconst items = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nconst highIntentKeywords = [\n  'readwise alternative', 'reflection tool', 'forget everything i read',\n  'forget what i read', 'note taking graveyard', 'highlight rot'\n];\nconst mediumIntentKeywords = [\n  'remember what you read', 'remember books', 'book reflection',\n  'retain information', 'second brain', 'thinking tool'\n];\n\nconst angles = {\n  'readwise alternative': 'Readwise shows what the author said. Distill captures what YOU thought. Different purpose entirely.',\n  'forget everything i read': 'Most people just highlight. Writing one short reflection right after finishing forces your brain to actually process it.',\n  'forget what i read': 'The problem isn\\'t your memory — it\\'s that passive reading never becomes active thinking. Even 2 sentences of reflection changes that.',\n  'remember what you read': 'Highlighting feels productive but it\\'s passive. Writing your own take — even badly — is what makes ideas stick.',\n  'note taking graveyard': 'Notes you never revisit are symptoms. The real issue: you captured the author\\'s words, not your own thinking.',\n  'second brain': 'Most second brain setups are elaborate filing systems. The gap is reflection — processing what you consumed into your own perspective.',\n  'knowledge management': 'KM tools optimize storage. The bottleneck is actually processing — turning consumption into your own understanding.',\n  'book reflection': 'The best book notes aren\\'t summaries. They\\'re your honest reaction right after finishing.',\n  'retain information': 'Retention improves when you process, not when you store. One reflection > 50 highlights.',\n  'reflection tool': 'Distill is a dedicated space for writing your take after consuming content. No AI summary, no templates — just your thinking.',\n  'thinking tool': 'Most tools help you capture. Distill helps you think. You write your perspective after consuming books, articles, podcasts.',\n  'highlight rot': 'Highlights decay because they\\'re someone else\\'s words. Your own reflections stay because they\\'re YOUR perspective.'\n};\n\nconst defaultAngle = 'Writing a short reflection after consuming content is the simplest way to actually retain and think about what you consumed.';\n\nfor (const item of items) {\n  const d = item.json;\n  if (!d.url || seen.has(d.url)) continue;\n  seen.add(d.url);\n\n  // Score calculation\n  let score = 1;\n\n  // Keyword specificity (0-3)\n  const kws = (d.matchedKeywords || []).map(k => k.toLowerCase());\n  if (kws.some(k => highIntentKeywords.includes(k))) score += 3;\n  else if (kws.some(k => mediumIntentKeywords.includes(k))) score += 2;\n  else score += 1;\n\n  // Source weight\n  if (d.source === 'hackernews') score += 3;\n  else if (d.source === 'reddit') score += 2;\n  else if (d.source === 'twitter') score += 1;\n\n  // Engagement\n  if ((d.score || 0) > 10) score += 2;\n  if ((d.numComments || 0) > 5) score += 2;\n\n  // Recency\n  const ageHours = (Date.now() / 1000 - (d.createdUtc || 0)) / 3600;\n  if (ageHours < 6) score += 1;\n\n  score = Math.min(score, 10);\n\n  // Find best matching angle\n  let suggestedAngle = defaultAngle;\n  for (const kw of kws) {\n    if (angles[kw]) {\n      suggestedAngle = angles[kw];\n      break;\n    }\n  }\n\n  // Time ago string\n  let timeAgo;\n  if (ageHours < 1) timeAgo = 'just now';\n  else if (ageHours < 24) timeAgo = `${Math.round(ageHours)}h ago`;\n  else timeAgo = `${Math.round(ageHours / 24)}d ago`;\n\n  unique.push({\n    json: {\n      ...d,\n      relevanceScore: score,\n      suggestedAngle,\n      timeAgo\n    }\n  });\n}\n\n// Sort by score descending, cap at 25\nunique.sort((a, b) => b.json.relevanceScore - a.json.relevanceScore);\nconst capped = unique.slice(0, 25);\n\nif (capped.length === 0) {\n  return [{ json: { _noLeads: true } }];\n}\nreturn capped;"
      },
      "id": "dedup-score",
      "name": "Deduplicate + Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build inline-CSS HTML email\nconst items = $input.all();\nconst leads = items.filter(i => !i.json._noLeads);\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-IN', { month: 'short', day: 'numeric', year: 'numeric' });\n\n// Count by source\nconst counts = { reddit: 0, hackernews: 0, twitter: 0 };\nfor (const lead of leads) {\n  const src = lead.json.source || 'unknown';\n  if (counts[src] !== undefined) counts[src]++;\n}\n\nconst breakdown = [\n  counts.reddit > 0 ? `${counts.reddit} Reddit` : null,\n  counts.hackernews > 0 ? `${counts.hackernews} HN` : null,\n  counts.twitter > 0 ? `${counts.twitter} Twitter` : null\n].filter(Boolean).join(', ');\n\nconst total = leads.length;\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#FFFDF7;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n<div style=\"max-width:640px;margin:0 auto;padding:32px 24px;\">\n\n<h1 style=\"font-size:18px;font-weight:700;color:#1a1a1a;margin:0 0 4px 0;letter-spacing:-0.3px;\">\n  DISTILL LEADS DIGEST</h1>\n<p style=\"font-size:14px;color:#666;margin:0 0 24px 0;\">\n  ${dateStr} &mdash; ${total} conversation${total !== 1 ? 's' : ''} found (${breakdown})</p>\n\n<div style=\"border-top:2px solid #1a1a1a;margin-bottom:24px;\"></div>\n`;\n\nfor (const lead of leads) {\n  const d = lead.json;\n  const scoreColor = d.relevanceScore >= 8 ? '#2d6a4f' : d.relevanceScore >= 5 ? '#e07c24' : '#888';\n  const snippetText = (d.snippet || '').slice(0, 200);\n\n  html += `\n<div style=\"margin-bottom:28px;\">\n  <div style=\"margin-bottom:8px;\">\n    <span style=\"display:inline-block;background:${scoreColor};color:#fff;font-size:12px;font-weight:700;padding:2px 8px;border-radius:3px;margin-right:8px;\">${d.relevanceScore}/10</span>\n    <a href=\"${d.url}\" style=\"color:#1a1a1a;font-size:15px;font-weight:600;text-decoration:none;border-bottom:1px solid #ccc;\">${(d.title || '').slice(0, 120)}</a>\n  </div>\n  <p style=\"font-size:12px;color:#888;margin:0 0 6px 0;\">\n    ${d.subreddit || d.source} &bull; ${d.score || 0} upvotes &bull; ${d.numComments || 0} comments &bull; ${d.timeAgo || ''}</p>\n  ${snippetText ? `<p style=\"font-size:13px;color:#444;margin:0 0 8px 0;line-height:1.5;background:#f5f3ee;padding:8px 12px;border-left:3px solid #ddd;\">&ldquo;${snippetText}...&rdquo;</p>` : ''}\n  <p style=\"font-size:13px;color:#2d6a4f;margin:0;\">\n    &rarr; <strong>Angle:</strong> ${d.suggestedAngle || ''}</p>\n  <p style=\"margin:6px 0 0 0;\"><a href=\"${d.url}\" style=\"font-size:12px;color:#e07c24;text-decoration:none;font-weight:600;\">[Open Thread]</a></p>\n</div>\n<div style=\"border-top:1px solid #eee;margin-bottom:24px;\"></div>\n`;\n}\n\nhtml += `\n<p style=\"font-size:11px;color:#aaa;margin-top:32px;text-align:center;\">\n  Distill Leads Agent &mdash; automated daily scan</p>\n</div>\n</body>\n</html>`;\n\nconst subject = `Distill Leads: ${total} conversation${total !== 1 ? 's' : ''} found (${dateStr})`;\n\nreturn [{\n  json: {\n    emailHtml: html,\n    emailSubject: subject,\n    leadCount: total,\n    _noLeads: total === 0\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $json.leadCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-leads",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.LEADS_SENDER_EMAIL || 'onboarding@resend.dev' }}\",\n  \"to\": [\"{{ $env.LEADS_RECIPIENT_EMAIL }}\"],\n  \"subject\": \"{{ $json.emailSubject }}\",\n  \"html\": {{ JSON.stringify($json.emailHtml) }}\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Resend API Key"
        }
      }
    }
  ],
  "connections": {
    "Daily 8am IST": {
      "main": [
        [
          { "node": "Reddit Subreddit Scraper", "type": "main", "index": 0 },
          { "node": "Reddit Search Scraper", "type": "main", "index": 0 },
          { "node": "HN Algolia Search", "type": "main", "index": 0 },
          { "node": "Twitter/Nitter Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "Reddit Subreddit Scraper": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 0 }]
      ]
    },
    "Reddit Search Scraper": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 1 }]
      ]
    },
    "HN Algolia Search": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 2 }]
      ]
    },
    "Twitter/Nitter Search": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 3 }]
      ]
    },
    "Merge All Sources": {
      "main": [
        [{ "node": "Remove Empties", "type": "main", "index": 0 }]
      ]
    },
    "Remove Empties": {
      "main": [
        [{ "node": "Deduplicate + Score", "type": "main", "index": 0 }],
        []
      ]
    },
    "Deduplicate + Score": {
      "main": [
        [{ "node": "Build Email HTML", "type": "main", "index": 0 }]
      ]
    },
    "Build Email HTML": {
      "main": [
        [{ "node": "Has Leads?", "type": "main", "index": 0 }]
      ]
    },
    "Has Leads?": {
      "main": [
        [{ "node": "Send via Resend", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "distill" },
    { "name": "leads" }
  ]
}
